.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
}
body {
  background-color: #98bad4;
  color:#03224c
}

.firstColor {
  background-color: #D4F2DB;
}
.secondColor {
  color:#03224c; 
}
header {
  height: 20vh;
}
footer {
  bottom: 0;
  width: 100%;
}
ul {
  display: flex;
  justify-content: space-evenly;
}
a[href^="mailto"] { 
  color: #03224c; 
  font-style: none;
}
.btn-outline {
  border-color: #03224c;
}
.hover:hover {
  background-color: #03224c;
  color: #D4F2DB;
}
.card {
  width: 18rem;
  margin: 2vh auto;
}