/* fonts  */
@font-face {
  font-family: "Anton";
  src: url("./font/Anton-Regular.ttf");
}
@font-face {
  font-family: "Oswald";
  src: url("./font/Oswald-VariableFont_wght.ttf");
}

.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
}
body {
  background-color: #98bad4;
  color:#03224c;
  max-height: 100vh;
}
/* utility classes for color */
.firstColor {
  background-color: #D4F2DB;
}
.secondColor {
  color:#03224c; 
}
/* utility classes fonts */
.anton {
  font-family: "Anton";
}
.oswald {
  font-family: "Oswald";
}
/* Normal css */
footer {
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
header, nav , footer {
  font-family: "Anton";
}
main {
  font-family: "Oswald";
}
ul {
  display: flex;
  justify-content: space-evenly;
}
/* change mailto color and style */
a[href^="mailto"] { 
  color: #03224c; 
  font-style: none;
}
.btn-outline {
  border-color: #03224c;
}
.hover:hover {
  background-color: #03224c;
  color: #D4F2DB;
}
.card {
  width: 100%;
  margin: 5vh auto;
  background-color: #D4F2DB;
}
.card a {
  background-color: #D4F2DB;
  color: #03224c;
  border-color: #03224c;
}
/* animation */

.tracking-in-expand {
	animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.slide-in-right {
	animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.fade-in {
	animation: fade-in 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.text-focus-in {
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* animation keyframes with the help of animista */
 @keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@media screen and (min-width : 768px) {
  header {
    float: left;
    height: 11vh;
    margin-left: 1vh;
  }
  nav {
    height: 11vh
  }
  nav li {
    margin-top: 2vh;
  }
  img.card-img-top {
    float: left;
  } 
}

@media screen and (min-width : 1024px) {
  nav ul {
    justify-content: flex-end;
    margin-right: 2vh;
  }
  nav ul li {
    margin-right: 3vh;
  }
}